<!-- MENU area start -->
<div class="rts-deal-section rts-section-gap">
    <div class="shape-image-1">
        <img src="assets/images/banner/vector10.webp" alt="shape">
    </div>
    <div class="container">
        <div class="rts-deal-section-inner">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-one-wrapper">
                        <div class="title-img" data-sal="zoom-in" data-sal-delay="200" data-sal-duration="800">
                            <img src="assets/images/about/title-shape.png" alt="about">
                        </div>
                        <h1 class="title-banner" data-sal="slide-up" data-sal-delay="170" data-sal-duration="800">
                            Grab This Deal Before <br> It Finished
                        </h1>
                        <div class="banner-shape-area" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                            <span class="shape"></span>
                            <span class="shape"></span>
                            <span class="shape"></span>
                        </div>
                        <p class="desc" data-sal="slide-up" data-sal-duration="800">It’s the story of an everlasting
                            love affair,
                            Dieter Delicioz and <br> the Atlantic Ocean. Our proximity to the abundant riches of <br>
                            the sea and
                            Portugal’s excellent produce.</p>
                        <div class="button-area-banner" data-sal="slide-up" data-sal-delay="350"
                            data-sal-duration="800">
                            <a href="menu-list.html" class="rts-btn btn-secondary">Get Free Tour</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-end">
                    <div class="hero-image-section">
                        <img src="assets/images/banner/banner-img.webp" alt="image">
                        <span><img src="assets/images/about/round-2.webp" alt="about"></span>
                        <div class="shape-img"><img src="assets/images/banner/vector11.webp" alt="shape"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MENU area end -->