<!-- side bar for desktop -->
<div id="side-bar" class="side-bar header-one">
    <div class="inner">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk d-none d-lg-block">
            <div class="thumbnail" style="font-size: 3rem; font-weight: bold; color: white;">
                <!-- <img src="assets/images/logo/01.svg" alt="dinenos"> -->
                Sultan Mediterranean Restauraunt
            </div>
            <div class="banner-shape-area">
                <span class="shape"></span>
                <span class="shape"></span>
                <span class="shape"></span>
            </div>
            <div class="inner-content">
                <ul class="feature-list">
                    <li class="query-list">
                        <span class="sub-text">4200 MANCHESTER AVE, <br>ST. LOUIS, MO 63110</span>
                        <a class="phone" href="tel:314-390-2020">314-390-2020</a>
                        <br>
                        <a class="email" href="mail-to:SULTAN.STL@YAHOO.COM">SULTAN.STL@YAHOO.COM</a>
                    </li>
                    <li class="query-list two">
                        <p class="time">Sun: 11:30AM - 8:00PM </p>
                        <p class="time">Mon: Closed </p>
                        <p class="time">Tue-Thu: 11:30AM - 8:00PM</p>
                        <p class="time">Fri-Sat: 11:30AM - 8:30PM</p>
                    </li>
                </ul>
                <div class="footer">
                    <ul class="social-area">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- mobile menu area start -->
        <div class="mobile-menu d-block d-lg-none">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu" id="mobile-menu-active">
                    <li class="has-droupdown">
                        <a href="#" class="main">Home</a>
                        <ul class="submenu">
                            <li><a class="mobile-menu-link" href="index.html">Home One</a></li>
                            <li><a class="mobile-menu-link" href="index-two.html">Home Two</a></li>
                            <li><a class="mobile-menu-link" href="index-three.html">Home Three</a></li>
                            <li><a class="mobile-menu-link" href="index-four.html">Burger Home</a></li>
                            <li><a class="mobile-menu-link" href="index-five.html">Seafood Home</a></li>
                            <li><a class="mobile-menu-link" href="index-six.html">Restaurant Home (Dark)</a></li>
                            <li><a class="mobile-menu-link" href="index-seven.html">Pizza Home</a></li>
                            <li><a class="mobile-menu-link" href="index-eight.html">Coffee House</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu">
                            <li><a class="mobile-menu-link" href="about.html">About</a></li>
                            <li><a class="mobile-menu-link" href="our-chef.html">Our Chef</a></li>
                            <li><a class="mobile-menu-link" href="meet-the-chef.html">Meet The Chef</a></li>
                            <li><a class="mobile-menu-link" href="reservation.html">Reservation</a></li>
                            <li><a class="mobile-menu-link" href="contact.html">Contact</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Menus</a>
                        <ul class="submenu">
                            <li><a class="mobile-menu-link" href="menu.html">MenuTab</a></li>
                            <li><a class="mobile-menu-link" href="menu-list.html">MenuList</a></li>
                            <li><a class="mobile-menu-link" href="menu-list2.html">MenuList2</a></li>
                            <li><a class="mobile-menu-link" href="menu-section.html">Menusection</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Portfolio</a>
                        <ul class="submenu">
                            <li><a class="mobile-menu-link" href="shop.html">Shop</a></li>
                            <li><a class="mobile-menu-link" href="shop-details.html">Shop Details</a></li>
                            <li><a class="mobile-menu-link" href="cart.html">Cart</a></li>
                            <li><a class="mobile-menu-link" href="checkout.html">Checkout</a></li>
                            <li><a class="mobile-menu-link" href="account.html">My Account</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Blog</a>
                        <ul class="submenu">
                            <li><a class="mobile-menu-link" href="blog.html">Blog</a></li>
                            <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="social-wrapper-one">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- mobile menu area end -->
</div>