<!-- header area start -->
<header class="header-two header--sticky">
    <div class="header-top">
        <div class="start-top">
            <div class="single-info">
                <div class="icon"><i class="fa-solid fa-location-dot"></i> </div>
                <p>4200 Manchester Ave, St. Louis, MO 63110</p>
            </div>
            <div class="single-info">
                <div class="icon"><i class="fa-solid fa-clock"></i></div>
                <p>{{tHours}} </p>
            </div>
        </div>
        <div class="end-top">
            <div class="single-info">
                <div class="icon"><i class="fas fa-envelope-open"></i></div>
                <a href="mailto:name@email.com">sultan.stl@yahoo.com</a>
            </div>
            <div class="single-info">
                <div class="icon"><i class="fa-solid fa-phone-flip"></i></div>
                <a href="tel:99088745623">314-390-2020</a>
            </div>
        </div>
    </div>
    <div class="header-two-container">
        <div class="row">
            <div class="col-12">
                <div class="header-main-wrapper">
                    <div class="menu-area left" id="menu-btn">
                        <a href="#" class="nav-menu-link menu-button">
                            <span class="dot1"></span>
                            <span class="dot2"></span>
                            <span class="dot3"></span>
                            <span class="dot4"></span>
                        </a>
                    </div>
                    <div class="rts-header-mid">
                        <!-- nav area start -->
                        <div class="main-nav-desk nav-area">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="nav-link" href="#">Home</a>
                                        <!-- <ul class="submenu">
                                            <li><a href="index.html">HOME ONE</a></li>
                                            <li><a href="index-two.html">HOME TWO</a></li>
                                            <li><a href="index-three.html">HOME THREE</a></li>
                                            <li><a href="index-four.html">BURGER HOME</a></li>
                                            <li><a href="index-five.html">SEAFOOD HOME</a></li>
                                            <li><a href="index-six.html">RESTAURANT HOME (DARK)</a></li>
                                            <li><a href="index-seven.html">PIZZA HOME</a></li>
                                            <li><a href="index-eight.html">COFFEE HOUSE</a></li>
                                        </ul> -->
                                    </li>
                                    <!-- <li class="has-droupdown pages">
                                        <a class="nav-link" href="#">Pages</a>
                                        <ul class="submenu">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="our-chef.html">Our Chef</a></li>
                                            <li><a href="meet-the-chef.html">Meet The Chef</a></li>
                                            <li><a href="reservation.html">Reservation</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li> -->
                                    <li>
                                        <a class="nav-link" [routerLink]='"."' fragment='menu'>Menu</a>
                                        <!-- <div class="submenu menu-home">
                                            <ul class="container flex-mega">
                                                <li><a href="menu.html"><img src="assets/images/project/menu-1.webp"
                                                            alt="menu"> <br>
                                                        MenuTab</a></li>
                                                <li><a href="menu-list.html"><img
                                                            src="assets/images/project/menu-2.webp"
                                                            alt="menu"><br>MenuList</a></li>
                                                <li><a href="menu-list2.html"><img
                                                            src="assets/images/project/menu-3.webp"
                                                            alt="menu"><br>MenuList2</a></li>
                                                <li><a href="menu-section.html"><img
                                                            src="assets/images/project/menu-4.webp"
                                                            alt="menu"><br>MenuSection</a></li>
                                            </ul>
                                        </div> -->
                                    </li>
                                    <li><a class="nav-link" [routerLink]='"."' fragment='about-us'>About Us</a></li>
                                    <!-- <li class="has-droupdown pages">
                                        <a class="nav-link" href="#">Shop</a>
                                        <ul class="submenu">
                                            <li><a href="shop.html">Shop</a></li>
                                            <li><a href="shop-details.html">Shop Details</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="account.html">My Account</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-droupdown pages">
                                        <a class="nav-link" href="#">Blog</a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                        <!-- nav-area end -->
                    </div>
                    <div class="logo-area">
                        <a href="index.html" class="logo" style="font-size: 3rem; font-weight: bold; color: white;">
                            <!-- <img src="../../assets/images/gallery/logo-1.webp" alt="image-logo"> -->
                            Sultan Mediterranean Restauraunt
                        </a>
                    </div>
                    <!-- header right start -->
                    <div class="rts-header-right">
                        <!-- <div class="button-area-banner">
                            <a href="#" class="rts-btn btn-secondary">Find a Table</a>
                        </div> -->
                        <!-- <div class="account">
                            <a href="#"><i class="fa-solid fa-user"></i></a>
                        </div> -->
                        <div class="menu-area right" id="menu-btn">
                            <a href="#" class="nav-menu-link menu-button">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                                <span class="dot4"></span>
                            </a>
                        </div>
                    </div>
                    <!-- header right end -->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header area end -->