<div class="rts-about-area home-two">
    <div class="container">
        <div class="about-area-inner">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-7 pr_sm--0 pr_md--0 pl_md--0 pl_sm--0">
                    <div class="about-one-img">
                        <div class="left-side">
                            <div class="content">
                                <h2 class="heading-title"><img src="assets/images/about/time.png"
                                        alt="about-image">Opening Hours</h2>
                                <ul class="bottom-content">
                                    <li *ngFor="let item of openingHours">{{item.abbr}} : {{item.hours}} </li>

                                </ul>
                            </div>
                            <div class="image"><img src="assets/images/shop/outside_1.jpeg" alt="about-image"></div>
                        </div>
                        <div class="right-side">
                            <div class="image"><img src="assets/images/shop/inside_2.jpeg" alt="about-image"></div>
                            <div class="content">
                                <div class="content-icon">
                                    <img src="assets/images/about/knife.png" alt="about-image">
                                    <div class="icon">
                                        <img src="assets/images/about/back-icon.png" alt="icon">
                                    </div>
                                </div>
                                <div class="counter-up-area">
                                    <h2 class="title-main"><span class="counter">10</span><span class="prefix">+</span>
                                    </h2>
                                    <p class="disc">
                                        Years Of Experience
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 pr--10">
                    <div class="banner-one-wrapper ptb--110">
                        <div class="title-img" data-sal="zoom-in" data-sal-delay="150" data-sal-duration="800">
                            <img src="assets/images/about/title-shape.png" alt="about">
                        </div>
                        <h1 class="title-banner" data-sal="slide-up" data-sal-delay="170" data-sal-duration="800">
                            Welcome To <br> Sultan Mediterranean Restauraunt
                        </h1>
                        <div class="banner-shape-area" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                            <span class="shape"></span>
                            <span class="shape"></span>
                            <span class="shape"></span>
                        </div>
                        <p class="desc" data-sal="slide-up" data-sal-duration="800">It’s the story of an everlasting
                            love affair,
                            Dieter Delicioz and <br> the Atlantic Ocean. Our proximity to the abundant riches of <br>
                            the sea and
                            Portugal’s excellent produce.</p>
                        <div class="button-area-banner" data-sal="slide-up" data-sal-delay="350"
                            data-sal-duration="800">
                            <a href="menu-list.html" class="rts-btn btn-secondary">More Foods</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vector-shape">
                <img src="assets/images/about/vector8.webp" alt="">
            </div>
        </div>
    </div>
</div>