<!-- banner start -->
<div class="rts-banner-main-area-swiper banner-two">
    <div class="banner-shape-1">
        <img src="assets/images/banner/shape/slider2-shape.webp" alt="shape">
    </div>
    <div class="banner-shape-2">
        <img src="assets/images/banner/shape/slider2-shape.webp" alt="shape">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-7 first">
                <div class="banner-one-wrapper ptb--110">
                    <span class="b_one-pre" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                        We Serve Food, Harmony, & Laughter Since 2019
                    </span>
                    <div class="banner-shape-area" data-sal="slide-up" data-sal-delay="500" data-sal-duration="800">
                        <span class="shape"></span>
                        <span class="shape"></span>
                        <span class="shape"></span>
                    </div>
                    <h1 class="title-banner">
                        Delicious Foods With
                        <br>
                        Wonderful Eating
                    </h1>
                    <div class="button-area-banner">
                        <a href="#about-us" class="rts-btn btn-primary">View More</a>
                        <a href="#menu" class="rts-btn btn-seconday">Food Menu</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5">
                <div class="hero-section-area">
                    <img class="main-img" src="assets/images/gallery/meats.webp" alt="hero-image">
                    <span class="shape-1"></span>
                    <span class="shape-2"></span>
                    <span class="shape-3"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->