<!-- testimonial area start -->
<div class="rts-testimonial-area rts-section-gap">
    <div class="container">
        <div class="testimonial-area-inner">
            <div class="banner-one-wrapper">
                <h1 class="title-banner" data-sal-delay="170" data-sal-duration="800">
                    Customers Feedback
                </h1>
                <p class="desc" data-sal-duration="800">It’s the story of an everlasting love
                    affair, Dieter
                    Delicioz and the <br> Atlantic Ocean in the big air.</p>
            </div>

            <div class="swiper-testimonial-main-wrapper" data-sal-delay="500" data-sal-duration="800">
                <div class="swiper swiper-testimonials-1">
                    <div class="left-quote">
                        <img src="assets/images/testimonials/quote-1.webp" alt="testimonial">
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-wrapper">
                                <div class="content">
                                    <h3>
                                        <em>“ Their curry sauce is fantastic and absolutely delicious.
                                            We ordered it in three different dishes: chicken, shrimp, and fish.
                                            The buttery, savory flavor just explodes in your mouth. The sultan pilau is
                                            one of
                                            their most popular dishes and was equally as tasty, especially with the
                                            cucumber yogurt sauce it comes with.
                                            Loved the addition of nuts and raisins in this dish. ”</em>
                                    </h3>
                                </div>
                                <div class="author">
                                    <h5 class="title">Vitalyevna Morozova</h5>
                                    <p class="sub-title">Google Local Guide</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-wrapper">
                                <div class="content">
                                    <h3>
                                        <em>“ The food was AMAZING! The lentil soup was so good.
                                            I ordered the falafel plate appetizer and chicken kabob meal.
                                            The lemonade with mint was fire! Everything was so good! ”</em>
                                    </h3>
                                </div>
                                <div class="author">
                                    <h5 class="title">Natalie Bembry</h5>
                                    <p class="sub-title">Google Local Guide</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-wrapper">
                                <div class="content">
                                    <h3>
                                        <em>“ Delicious! Simply eat here because you can never recreate this at home.
                                            The pilau and steak kabob was great.
                                            The Turkish coffee was so strong and smooth, not bitter or acidic at all.
                                            Service was friendly and helpful too.
                                            ”</em>
                                    </h3>
                                </div>
                                <div class="author">
                                    <h5 class="title">Sean Hall</h5>
                                    <p class="sub-title">Google Local Guide</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-quote">
                        <img src="assets/images/testimonials/quote-2.webp" alt="testimonial">
                    </div>
                </div>
                <div class="next-prev-btn">
                    <div class="swiper-button-prevs"><i class="fa-solid fa-arrow-left-long"></i></div>
                    <div class="swiper-button-nexts"><i class="fa-solid fa-arrow-right-long"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial area end -->