<!-- counter area start -->
<div class="rts-counter-up-area home-four">
    <div class="container">
        <div class="counter-up-area-inner">
            <!-- single fun facts -->
            <div class="rts-single-service-two" data-sal="slide-up" data-sal-delay="150" data-sal-duration="800">
                <h2 class="title-main"><span class="counter">10</span></h2>
                <p class="disc">
                    Awards Won
                </p>
            </div>
            <!-- single fun facts end -->
            <!-- single fun facts -->
            <div class="rts-single-service-two" data-sal="slide-up" data-sal-delay="350" data-sal-duration="800">
                <h2 class="title-main"><span class="counter">5</span><span class="prefix">K</span></h2>
                <p class="disc">
                    Daily Orders
                </p>
            </div>
            <!-- single fun facts end -->
            <!-- single fun facts -->
            <div class="rts-single-service-two" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                <h2 class="title-main"><span class="counter">99</span></h2>
                <p class="disc">
                    Members
                </p>
            </div>
            <!-- single fun facts end -->
            <!-- single fun facts -->
            <div class="rts-single-service-two" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                <h2 class="title-main"><span class="counter">100</span></h2>
                <p class="disc">
                    Menu & Dish
                </p>
            </div>
            <!-- single fun facts end -->
            <!-- single fun facts -->
            <div class="rts-single-service-two" data-sal="slide-up" data-sal-delay="550" data-sal-duration="800">
                <h2 class="title-main"><span class="counter">25</span></h2>
                <p class="disc">
                    Specialities
                </p>
            </div>
            <!-- single fun facts end -->
        </div>
    </div>
</div>
<!-- counter area end -->