<!-- team area start -->
<div class="rts-team-area rts-section-gap">
    <div class="container">
        <div class="team-area-inner">
            <div class="row">
                <div class="col-lg-6 slider first">
                    <div class="swiper-team-main-wrapper">
                        <div class="swiper rts-team-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="team-wrapper">
                                        <div class="image">
                                            <a href="meet-the-chef.html"><img src="assets/images/team/01.webp"
                                                    alt="team"></a>
                                            <div class="team-social">
                                                <div class="main">
                                                    <i class="fa-regular fa-plus"></i>
                                                </div>
                                                <div class="team-social-one">
                                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-content">
                                            <h3 class="team-name">
                                                <a href="meet-the-chef.html">Alice Capsey</a>
                                            </h3>
                                            <p class="desc">Manager</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-wrapper">
                                        <div class="image">
                                            <a href="meet-the-chef.html"><img src="assets/images/team/02.webp"
                                                    alt="team"></a>
                                            <div class="team-social">
                                                <div class="main">
                                                    <i class="fa-regular fa-plus"></i>
                                                </div>
                                                <div class="team-social-one">
                                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-content">
                                            <h3 class="team-name">
                                                <a href="meet-the-chef.html">Danni Wyatt</a>
                                            </h3>
                                            <p class="desc">Founder</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-wrapper">
                                        <div class="image">
                                            <a href="meet-the-chef.html"><img src="assets/images/team/03.webp"
                                                    alt="team"></a>
                                            <div class="team-social">
                                                <div class="main">
                                                    <i class="fa-regular fa-plus"></i>
                                                </div>
                                                <div class="team-social-one">
                                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-content">
                                            <h3 class="team-name">
                                                <a href="meet-the-chef.html">Joe Root</a>
                                            </h3>
                                            <p class="desc">Cook</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="team-wrapper">
                                        <div class="image">
                                            <a href="meet-the-chef.html"><img src="assets/images/team/04.webp"
                                                    alt="team"></a>
                                            <div class="team-social">
                                                <div class="main">
                                                    <i class="fa-regular fa-plus"></i>
                                                </div>
                                                <div class="team-social-one">
                                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="team-content">
                                            <h3 class="team-name">
                                                <a href="meet-the-chef.html">Herry Brook</a>
                                            </h3>
                                            <p class="desc">Cook</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-one-wrapper ptb--110">
                        <h1 class="title-banner" data-sal="slide-up" data-sal-delay="170" data-sal-duration="800">
                            Meet With Our <br> Creative Crew & Chef
                        </h1>
                        <div class="banner-shape-area" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">
                            <span class="shape"></span>
                            <span class="shape"></span>
                            <span class="shape"></span>
                        </div>
                        <p class="desc" data-sal="slide-up" data-sal-duration="800">It’s the story of an everlasting
                            love affair,
                            Dieter Delicioz and <br> the Atlantic Ocean. Our proximity to the abundant riches of <br>
                            the sea and
                            Portugal’s excellent produce.</p>
                        <div class="next-prev-btn" data-sal="slide-up" data-sal-delay="1500" data-sal-duration="800">
                            <div class="swiper-button-prevs"><i class="fa-solid fa-arrow-left-long"></i></div>
                            <div class="swiper-button-nexts"><i class="fa-solid fa-arrow-right-long"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-area-shape"><img src="assets/images/team/vector9.webp" alt="shape"></div>
        </div>
    </div>
</div>
<!-- team area end -->