<div class="rts-menu-area home-two bg-white rts-section-gap">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="banner-one-wrapper">
                    <h1 class="title-banner" data-sal="slide-up" data-sal-delay="120" data-sal-duration="800">
                        Our Food Menu
                    </h1>
                    <p class="desc" data-sal="slide-up" data-sal-duration="800">It’s the story of an everlasting love
                        affair,
                        Dieter Delicioz and the <br> Atlantic Ocean in the big air.</p>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <div class="portfolio-menu mb-35" data-sal="slide-up" data-sal-delay="450" data-sal-duration="800">
                    <button class="gf_btn active" data-filter="*">All</button>
                    <button class="gf_btn" data-filter=".cat1">Beakfast</button>
                    <button class="gf_btn" data-filter=".cat2">Dinner</button>
                    <button class="gf_btn" data-filter=".cat3">Lunch</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="grid row align-items-center" data-sal="slide-up" data-sal-delay="270" data-sal-duration="800">
            <div class="col-lg-2 col-md-4 col-sm-6 grid-item cat3">
                <div class="portfolio-wrapper2 mb-30">
                    <a href="shop-details.html" class="image">
                        <img class="img-fluid" src="assets/images/project/01.jpg" alt="Portfolio Img">
                    </a>
                    <div class="portfolio-content">
                        <div class="star-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="content">
                            <p class="title"><a href="shop-details.html">Chicha Morada</a></p>
                            <span class="price">$33.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 grid-item cat1">
                <div class="portfolio-wrapper2 mb-30">
                    <a href="shop-details.html" class="image">
                        <img class="img-fluid" src="assets/images/project/02.jpg" alt="Portfolio Img">
                    </a>
                    <div class="portfolio-content">
                        <div class="star-rating">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="content">
                            <p class="title"><a href="shop-details.html">Tommy’s Margarita</a></p>
                            <span class="price">$30.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 grid-item cat2 cat3">
                <div class="portfolio-wrapper2 mb-30">
                    <a href="shop-details.html" class="image">
                        <img class="img-fluid" src="assets/images/project/03.jpg" alt="Portfolio Img">
                    </a>
                    <div class="portfolio-content">
                        <div class="star-rating">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="content">
                            <p class="title"><a href="shop-details.html">Prickly Pear Tonic</a></p>
                            <span class="price">$15.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 grid-item cat1">
                <div class="portfolio-wrapper2 mb-30">
                    <a href="shop-details.html" class="image">
                        <img class="img-fluid" src="assets/images/project/04.jpg" alt="Portfolio Img">
                    </a>
                    <div class="portfolio-content">
                        <div class="star-rating">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="content">
                            <p class="title"><a href="shop-details.html">Crispy Skin Chicken</a></p>
                            <span class="price">$15.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 grid-item cat1 cat3">
                <div class="portfolio-wrapper2 mb-30">
                    <a href="shop-details.html" class="image">
                        <img class="img-fluid" src="assets/images/project/05.jpg" alt="Portfolio Img">
                    </a>
                    <div class="portfolio-content">
                        <div class="star-rating">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="content">
                            <p class="title"><a href="shop-details.html">Wild Mushroom Arancini</a></p>
                            <span class="price">$10.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 grid-item cat1 cat2">
                <div class="portfolio-wrapper2 mb-30">
                    <a href="shop-details.html" class="image">
                        <img class="img-fluid" src="assets/images/project/06.jpg" alt="Portfolio Img">
                    </a>
                    <div class="portfolio-content">
                        <div class="star-rating">
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="content">
                            <p class="title"><a href="shop-details.html">Fresh Oysters Dozen</a></p>
                            <span class="price">$16.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-area-banner" data-sal="slide-up" data-sal-delay="300" data-sal-duration="800">
            <a href="menu-list.html" class="rts-btn btn-secondary">Get Free Tour</a>
        </div>
    </div>
</div>