<div class="rts-brand-area rts-section-gapBottom home-two" data-sal="slide-up" data-sal-delay="120"
    data-sal-duration="800">
    <div class="container">
        <div class="swiper-brand-main-wrapper">
            <div class="swiper mySwiper-brand">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="brand-wrapper">
                            <div class="image">
                                <a href="https://www.feastmagazine.com/restaurants/in-st-louis-family-owned-sultan-mediterranean-restaurant-is-rooted-in-authentic-kurdish-food/article_4319f6e2-e099-11e9-8dc9-4b361947be75.html"
                                    target="_blank"><img src="assets/images/brand/feast_stl.jpeg" alt="brand"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-wrapper">
                            <div class="image">
                                <a href="https://saucemagazine.com/a/58356/review-sultan-mediterranean-restaurant-in-the-grove"
                                    target="_blank"><img src="assets/images/brand/Sauce_stl.gif" alt="brand"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-wrapper">
                            <div class="image">
                                <a href="https://www.stltoday.com/life-entertainment/local/food-drink/restaurants/sultan-mediterranean-restaurant-is-an-exceptional-addition-to-the-grove/article_62a65bf7-2477-5cda-8cef-b557104ff184.html"
                                    target="_blank"><img src="../../assets/images/brand/stl_today.png" alt="brand"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-wrapper">
                            <div class="image">
                                <a href="https://www.riverfronttimes.com/food-drink/sultan-mediterranean-cuisine-dazzles-in-the-grove-31482909"
                                    target="_blank"><img src="assets/images/brand/rft_stl.jpeg" alt="brand"></a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="brand-wrapper">
                            <div class="image">
                                <a href="https://www.stlmag.com/dining/restaurant-reviews/sultan-mediterranean/"
                                    target="_blank"><img src="assets/images/brand/stl_mag.jpeg" alt="brand"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>