<!-- contact area start -->
<div class="rts-contact-area-two rts-section-gapTop bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="vedio-icone">
                    <a id="play-video" class="video-play-button" href="#">
                        <span></span>
                    </a>
                    <div id="video-overlay" class="video-overlay">
                        <a class="video-overlay-close">×</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="#" class="appoinment-form">
                    <div class="single-input">
                        <label for="guest">Number of Guest <span class="indicator">*</span></label>
                        <input type="number" id="guest" placeholder="Person" required>
                    </div>
                    <div class="single-input">
                        <label for="datepicker">Select Date <span class="indicator">*</span></label>
                        <input placeholder="Date" type="text" name="checkIn" id="datepicker" value="" class="calendar"
                            required>
                    </div>
                    <div class="single-input">
                        <label for="timepicker">Select Date <span class="indicator">*</span></label>
                        <input type="text" id="timepicker" placeholder="Time" />
                    </div>
                    <div class="single-input">
                        <button type="submit" class="rts-btn btn-primary">BOOK RESERVATION</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- marquee area start -->
    <div class="rts-marquee-area">
        <div class="left"></div>
        <div class="marquee">
            <div class="marquee-content">
                <div class="marquee-tag">
                    <h3>Book Table <span></span></h3>
                </div>
                <div class="marquee-tag">
                    <h3>Book Table <span></span></h3>
                </div>
            </div>
        </div>
        <div class="right"></div>
    </div>
    <!-- marquee area end -->
</div>
<!-- contact area end -->