<!-- blog area start -->
<div class="rts-blog-area rts-blog-area-2 rts-section-gap">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="banner-one-wrapper">
                    <h1 class="title-banner" data-sal="slide-up" data-sal-delay="120" data-sal-duration="800">
                        Blog & Insights
                    </h1>
                    <p class="desc" data-sal="slide-up" data-sal-delay="200" data-sal-duration="800">It’s the story of
                        an
                        everlasting love affair, Dieter Delicioz and the <br> Atlantic Ocean in the big air.</p>
                </div>
            </div>
        </div>
        <div class="swiper-technical-main-wrapper" data-sal="slide-up" data-sal-delay="1200" data-sal-duration="800">
            <div class="swiper mySwiper-blog">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="blog-wrapper">
                            <div class="image-part">
                                <img src="assets/images/blog/blog-01.jpg" alt="blog">
                            </div>
                            <div class="blog-badge">
                                <span class="date">12</span>
                                <span class="month">APR</span>
                            </div>
                            <div class="content">
                                <p class="tag"><a href="#">Fast Food</a></p>
                                <h3 class="title"><a href="blog-details.html">Love and food: It is all about dinenos
                                        restaurant</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog-wrapper">
                            <div class="image-part">
                                <img src="assets/images/blog/blog-03.jpg" alt="blog">
                            </div>
                            <div class="blog-badge">
                                <span class="date">12</span>
                                <span class="month">APR</span>
                            </div>
                            <div class="content">
                                <p class="tag"><a href="#">Dinner</a></p>
                                <h3 class="title"><a href="blog-details.html">Enjoy an exceptional journey of taste of
                                        joy.</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog-wrapper">
                            <div class="image-part">
                                <img src="assets/images/blog/blog-04.jpg" alt="blog">
                            </div>
                            <div class="blog-badge">
                                <span class="date">12</span>
                                <span class="month">APR</span>
                            </div>
                            <div class="content">
                                <p class="tag"><a href="#">Restaurant</a></p>
                                <h3 class="title"><a href="blog-details.html">The opportunity to work abroad is a
                                        prospect, one</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog-wrapper">
                            <div class="image-part">
                                <img src="assets/images/blog/blog-02.jpg" alt="blog">
                            </div>
                            <div class="blog-badge">
                                <span class="date">12</span>
                                <span class="month">APR</span>
                            </div>
                            <div class="content">
                                <p class="tag"><a href="#">Rice curry</a></p>
                                <h3 class="title"><a href="blog-details.html">Food is the foundation of true
                                        happiness</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog area end -->